@model List<Emp.Models.DifferenceinMinutes>

<form method="post" class="mt-6">
   
    <div class="justify-content-middle mb-4">
        <table>

            <tr>
                <td>Name</td>
                <td><input type="text" value=@ViewBag.Name class="form-control" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>From</td>
                <td style="vertical-align: middle; text-align: left; font-size: 24px;">
                    <input type="text" value=@ViewBag.Date1 class="form-control" name="Tin" readonly="readonly">
                </td>
               
            </tr>
            <tr>
                <td>To</td>
                <td>
                    <input type="text" value=@ViewBag.Date2 class="form-control" name="Tout" readonly="readonly">
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <button id="okButton" class="btn btn-primary" style="margin-top: 50px;" asp-controller="Reports" asp-action="Print">Print</button>
        <table class="table">
            <thead>
                <tr>

                    <th>Phone</th>
                    <th>DateIn</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Hr</th>
                    <th>Minutes</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>

                        <th>@employee.PhoneNumber</th>
                        <td>@employee.DateIn.ToShortDateString()</td>
                        <td>@employee.TimeIn</td>
                        <td>@employee.TimeOut</td>
                        <td>@employee.TimeDifferenceInHr</td>
                        <td>@employee.TimeDifferenceInMinutes</td>
                    </tr>
                }
            </tbody>
            </table>
         </div>


</form>