@model List<Emp.Models.DifferenceinMinutes>
<table class="table">
    <thead>
        <tr>

            <th>Phone</th>
            <th>Name</th>
            <th>DateIn</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Hr</th>
            <th>Minutes</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>

                <th>@employee.PhoneNumber</th>
                <td>@employee.Name</td>
                <td>@employee.DateIn.ToShortDateString()</td>
                <td>@employee.TimeIn</td>
                <td>@employee.TimeOut</td>
                <td>@employee.Salary</td>

            </tr>
        }
    </tbody>
 </table>
